@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}
#btn{
  background-color: rebeccapurple;
  color: aliceblue;
  border: aliceblue;
}
#btn:hover{
  background-color: aliceblue;
  color: rebeccapurple;
}
.card-body{
  box-shadow: 0 0 10px;
  margin: 1.5rem;
}
.card-body:hover{
  background-color: Lavender;
}
#note{
  font-weight: 500;
}