@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");

body {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}
.form-row {
  margin-top: 1.5rem;
}
.input-title,
.input-text {
  margin-bottom: 1rem;
  box-shadow: 0 0 10px;
}
.input-title:focus, .input-text:focus{
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
}
#btn {
  background-color: rebeccapurple;
  color: aliceblue;
  border: aliceblue;
}
#btn:hover {
  background-color: aliceblue;
  color: rebeccapurple;
}
#card {
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  margin-top: 1rem;
  width: 100%;
  padding-top: 0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.4rem;
  overflow: auto;
}

#card:hover{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.note-title {
  font-weight: 600;
  font-size: 1.7rem;
  text-decoration: underline;
}
.card-text {
  font-weight: 500;
  font-size: 1.4rem;
}
.update-text{
  font-size: 1.4rem;
}
.card-body:hover {
  background-color: Lavender;
  cursor: default;
}
#note {
  font-weight: 500;
}
.card-head {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.remove-note{
  margin-top: 0.2rem;
  border: transparent;
  width: 1.2rem;
  height: 1.2rem;
}
.edit-note{
  width: 1.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.remove-note:hover {
  background-color: rebeccapurple;
}
.modal-note {
  position: absolute;
  top: 40%;
  left: 40%;
  right: auto;
  bottom: auto;
  margin: auto;
  background-color:aliceblue;
  border-radius: 10px;
  min-height: 20rem;
  min-width: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(86, 2, 105, 0.75);
}
